@charset "UTF-8";
body{
	background-color: #13315c;
}

h1 {
  color: #eef4ed;
  text-align: center;
  font-family: arial;
}

#favorito {
 border: 1px solid black;
 background-color: #023e8a;
 padding: 6px;
 color: #EEF4ED;
 font-size: 22px;
  
}

.destacado {
  font-weight: bold;
  color: #eef4ed;
  text-align: right; 
 
} 
header, nav, section, article, footer{
 	border:1px solid black; 
	display: block;
}

header {
  overflow: hidden;
  background-color: #134074;
  /*background-image: url('img/header.jpg');*/  
  padding: 20px 10px;
}

nav {
  overflow: hidden;
  background-color: #0b2545;
  padding: 10px 5px;
}

.agrupar{
	border:1px; 
 	margin: auto; 
 	width:960px;  
}

section { 
 	margin:20px; 
 	width: 600px;
 	float:left; 
 	text-align: center;;
	background: #8da9c4;
}

aside {
 margin: 20px; 
 padding: 30px; 
 width:200px; 
 border: 1px; 
 float:right; 
 background:#8da9c4; 
 align-items: center; 
} 
 
footer {
  overflow: hidden;
  background-color: #134074;
  padding: 20px 10px;
  text-align: center;
  clear:both;
  
} 

footer li{
 	list-style: none;  
	font:bold 14px verdana; 
 	padding: 10px; 
	display: inline-block; 
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: underline;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

nav a:hover {
  background-color: #ddd;
  border:1px solid gray;
  color: black;
} 

nav a.active {
  background-color: rgb(0, 128, 255);
  border:1px solid gray; 
  color: white; 
}
 
#Margen {
	border:2px solid black;
	display: inline-block;
  
}


